/* Hiệu ứng hover */
.hover-card {
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Thiết kế box */
.custom-card {
  border-radius: 15px;
  color: #ffffff;
  border: none;
  height: 100px;
  display: flex;
  align-items: center;
}

/* Mỗi box có một màu nền khác nhau */
.device-card {
  background-color: #FF9A8B; /* Màu hồng cam */
}

.account-card {
  background-color: #81C784; /* Màu xanh lá nhạt */
}

.department-card {
  background-color: #FFCC80; /* Màu vàng cam nhạt */
}

/* Icon styling */
.icon {
  font-size: 2rem;
  color: #ffffff;
}

/* Tiêu đề */
.card-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

/* Tiêu đề Trang */
h1 {
  font-weight: 700;
  color: #34495e;
  margin-top: 20px;
}
